<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../css/bootstrap_css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/homepage.css">

    <meta charset="UTF-8">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/" style="margin-left: 8.33333333%">
        <img src="../img/wb.jpg" width="30" height="30" style="border-radius: 5%" class="d-inline-block align-top" alt="">
        wild hack
    </a>
</nav>
    <div class="outer">
        <div class="row">
        <div class="col-md-3"></div>
        <div class="form-class col-md-6" style="background-color: #adb5bd; margin-top: 10px">
            <form method="POST" action="/comments/create/">
                <div class="mb-3">
                    <label for="commentInput" class="form-label">Add comment</label>
                    <input type="text" class="form-control" id="commentInput" name="comment">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Mark</td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>