<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../css/bootstrap_css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/recommendations.css">

    <meta charset="UTF-8">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="../img/wb.jpg" width="30" height="30" style="border-radius: 5%; margin-left: 20%" class="d-inline-block align-top" alt="">
            wild hack
        </a>
    </nav>
    <div class="outer">
        <div class="product-block">
            <table class="table">
                <tbody>
                {{ with .ProductList }}
                    {{ range . }}
                        {{ if eq .ID 1 }}
                            <tr>
                                <td><a href="/recommendations?id={{ .ID }}" style="color: blueviolet">{{ .Name }}</a></td>
                            </tr>
                        {{ else }}
                            <tr>
                                <td><a href="/recommendations?id={{ .ID }}">{{ .Name }}</a></td>
                            </tr>
                        {{ end }}
                    {{ end }}
                {{ end }}
                </tbody>
            </table>
        </div>
        <div class="plot-block" style="background-image: url({{ .PlotImageURL }})"></div>
        <div class="recommendation-table-block">
            <table class="table">
                <thead>
                <tr>
                    <td>Показатель</td>
                    <td>Ср. Значение за 7 дней</td>
                    <td>В сравнении с другими</td>
                    <td>Рекомендации</td>
                </tr>
                </thead>
                <tbody>
                {{ with .RecommendationsList }}
                    {{ range . }}
                    <tr>
                        <td>{{ .Name }}</td>
                        <td>{{ .Result }}</td>
                        <td>{{ .Compare }}</td>
                        <td>{{ .Recommendation }}</td>
                    </tr>
                    {{ end }}
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>